* {
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
}

input {
    position: sticky;
}

.hamburger {
    background-color: #eee;
}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.backdrop {
    visibility: hidden;
}

#menu {
    width: 20vw;
    height: 100%;
    color: white;
    background-color: #06292d;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.menu-img {
    margin: 50px 10px;
}

#profile-photo {
    border-radius: 50%;
    width: 80%;
    height: 100%;
}

#content {
    margin-left: 20vw;
    height: 100%;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-item {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #348dcb;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.menu-item:hover {
    color: white;
}

.menu-item a {
    background-color: #06292d;
    color: #348dcb;
    border: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.menu-item a:hover, .menu-item a:active {
    color: white;
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#home-content {
    margin-top: 10px;
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 2.7rem;
}

.about-me--text {
    margin-top: 100px;
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    line-height: 2.7rem;
}

.seperator-horizontal {
    margin-top: 10px;
    width: 300px;
    height: 5px;
    /* background-color: #348dcb; */
    background-color: #587104;
}

.skills-text {
    padding: 100px 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    line-height: 2.7rem;
}

.phone-image {
    display: none;
}

#profile-photo-hidden {
    display: none;
}

#skills {
    height: 100vh;
    margin-left: 30px;
}

#social-links--div {
    display: flex;
}

.skills-content {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 2.7rem;
}

.boxes {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box {
    display: inline-block;
    border: 3px solid #587104;
    width: auto;
    height: auto;
    padding: 10px 40px; 
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.social-link {
    padding: 10px 20px;
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    outline: none;
    /* border: 5px solid #348dcb; */
    border: 5px solid #587104;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}


#projects {
    height: 100vh;
    display: flex;
    margin-left: 30px;
}

.projects-wrapper {
    height: 100%;
}

.projects-text {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    line-height: 2.7rem;
}

.project-boxes {
    /* border: 1px solid #333; */
    margin-top: 50px;
    margin-left: 30px;
    width: auto;
    height: 100vh;
}

/* .project-box {
    display: flex;
    width: 80%;
    height: 40%;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 20px;
    box-shadow: 2px 15px 15px -15px rgba(0,0,0,0.2);
} */

/* .project-box-img {
    margin-right: 1rem;
    flex: 1;
}

.project-box-img img {
    width: 100%;
    height: 80%;
    border: 3px solid #848431;
    border-radius: 10px;
} */

/* .project-box-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.project-box-text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.project-buttons {
    display: flex;
}

.project-button {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
}

.project-button:hover {
    background-color: #eee;
} */

.project-box {
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 2px 15px 15px -15px rgba(0,0,0,0.2);
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.project-box-text {
    font-size: 1.1rem;
}

.project-box-heading {
    font-size: 1.5rem;
}

.project-button {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* @media (max-width: 1300px) {
    #home-content {
        font-size: 1.5rem;
        line-height: 2.3rem;
    }
}

@media (max-width: 1050px) {

    .skills-content {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .skills-text {
        
        padding-top: 50px;
        font-size: 1.5rem;
    }

    .about-me--text {
        margin-top: 50px;
        font-size: 1.5rem;
    }
}

@media (max-width: 820px) {
    #home-content {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .skills-content {
        font-size: 1.1rem;
        line-height: 2.1rem;
    }
}

@media (max-width: 700px) {
    #home-content {
        font-size: 1.3rem;
        line-height: 2rem;
    }
} */

@media (max-width: 600px) {

    .seperator-horizontal {
        display: none;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    #menu {
        visibility: hidden;
    }

    #content {
        margin-left: 10px;
        margin-top: 20px;
    }

    .about-me--text {
        margin-top: 0;
    }

    #home-content {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .skills-text {
        padding: 0;
    }

    .skills-content {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .projects-text {
        margin-top: 300px;
    }

    .projects-content {
        font-size: 1rem;
        line-height: 2rem;
    }

    .project-boxes {
        margin-left: 0;
    }

    .project-box {
        margin-right: 20px;
    }
    
    .phone-image {
        display: block;
        margin-top: 50px;
        transform: scale(0.8);
    }

    #profile-photo-hidden {
        display: block;
        transform: scale(1.1);
        border-radius: 50%;
    }
    
    .toggler {
        /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
        z-index: 10;
        height: 50px;
        width: 50px;
        position: fixed;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
    }
    .hamburger {
        position: fixed;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        padding: 0.6rem;
        /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
    }
    /* CREATING THE MIDDLE LINE OF THE HAMBURGER : */
    .hamburger>div {
        position: relative;
        top: 0;
        left: 0;
        background: black;
        height: 2px;
        width: 60%;
        transition: all 0.4s ease;
    }
    /* CREATING THE TOP AND BOTTOM LINES : 
    TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */
    .hamburger>div::before, .hamburger>div::after {
        content: '';
        position: absolute;
        top: -10px;
        background: black;
        width: 100%;
        height: 2px;
        transition: all 0.4s ease;
    }
    .hamburger>div::after {
        top: 10px;
    }
    /* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */
    .toggler:checked+.hamburger>div {
        background: inherit;
    }
    .toggler:checked+.hamburger {
        background: #06292d;
    }
    .toggler:checked+.hamburger>div::before {
        top: 0;
        transform: rotate(45deg);
        background: white;
        z-index: 20;
    }
    /* AND ROTATING THE TOP AND BOTTOM LINES :  */
    .toggler:checked+.hamburger>div::after {
        top: 0;
        transform: rotate(135deg);
        background: white;
        z-index: 20;
    }
    .toggler:checked~#content {
        z-index: -2;
    }
    .toggler:checked~.phone-image {
        z-index: -2;
    }
    .toggler:checked~#menu {
        transition: all 0.2s ease;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        z-index: 0;
        visibility: visible;
    }
    .toggler:checked~#menu>.menu-img {
        display: none;
    }
    .toggler:checked~#menu>.menu-items {
        transition: visibility 0.4s ease;
        transition-delay: 0.2s;
        margin-top: 80px;
        text-align: left;
        margin-left: 30px;
        pointer-events: all;
    }
    .toggler:checked~.backdrop {
        visibility: visible;
        transition: all 0.2s;
        transition-delay: 0.1s;
        width: 60%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0%;
        left: 40%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .toggler:checked~#menu>.menu-item {
        font-size: 1.2rem;
        z-index: 10;
        pointer-events: all;
    }
}